html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Custom fonts */
@font-face {
  font-family: font-1;
  src: url("../provided/aurorabc.ttf");
}
.font-1 {
  font-family: font-1;
}

.header {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.header-carousel {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  max-height: 500px;
}

.header-carousel img {
  max-height: 500px;
  object-fit: cover;
}

.header-background {
  background-color: rgba(0,0,0,0.5);
  border-radius: .25rem;
  border: 1px solid black;
}

/* Custom elements */

.divider {
  height: 1px;
  width: 100%;
  background-color: #ced4da;
  margin: 10vh 0;
}


.nav-logo {
  width: 10%;
}

.work-card h3 {
  transition: font-size .2s ease-out;
  position: absolute;
  bottom: 50px;
  left: 30px;
  padding-right: 20px;
}

.work-card {
  overflow: hidden;
}

.work-card img {
  transition: transform .2s ease-out;
}

.work-card:hover img {
  transform: scale(1.33);
  -o-transform: scale(1.33);       /* Opera */
  -ms-transform: scale(1.33);      /* IE 9 */
  -moz-transform: scale(1.33);     /* Firefox */
  -webkit-transform: scale(1.33);  /* Safari and Chrome */
  vertical-align: middle;
}

.work-card:hover h3 {
  font-size: 2.3rem;
}

.navbar {
  border-bottom: 1px solid #EEF1F4;
  padding: 0rem 2rem !important;
}

.active {
  color: #19c0ff !important;
}

.nav-item {
  padding: 0.75rem 0 !important;
  margin-bottom: 3px;
}

.white-border {
  border: 15px solid white;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px rgba(0, 0, 0, 0.09), 6px 6px 8px rgba(0, 0, 0, 0.35);
}

.shadow-border {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.09), 0px 0px 2px rgba(0, 0, 0, 0.09), 6px 6px 8px rgba(0, 0, 0, 0.35);
}

.anchor {
  display: block;
  position: relative;
  top: -107px;
  visibility: hidden;
}

#maps-overlay {
  position: absolute;
  top: 20px;
  right:0;
  padding: 10px;
  transform: translate(-50%, 0);
  background-color: white !important;
  border-radius: .25rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer ul {
  list-style-type: none;
}

/* Custom colors */
.bg-custom-dark {
  background-color: #01a7d1 !important;
  /* background-color: #19c0ff !important; */
}

.bg-light {
  background-color: #fdfdfd;
}

.dropdown-menu {
  background-color: #f8f9fa;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.dropdown-item:hover {
  background-color: white;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.dropdown-item:active {
  background-color: #00a2ff;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.bold {
  font-weight: bold;
}

.big {
  font-size: 5rem;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.nav-link {
  color: #314c67 !important;
  transition: color 0.5s ease;
}

.text-black {
  color: black !important;
}

.nav-item:hover {
  border-bottom: 3px solid #00a2ff;
  color: #19c0ff !important;
  margin-bottom: 0;
}

.btn-custom {
  background-color: #01a7d1 !important;
  color: white !important;
  border: 1px solid white;
}

.btn-custom:hover {
  background-color: white !important;
  color: #00a2ff !important;
  border: 1px solid #00a2ff;
}

.header-wrapper {
  position: relative;
  max-height: 500px;
}

.header-title {
  position: absolute;
  top: calc(250px - 5rem);
  text-align: center;
  width: 100%;
}

.header-btn button {
  color: #00a2ff !important;
}

.header-btn button:hover {
  background-color: #00a2ff !important;
  color: white !important;
}

@media only screen and (min-width:768px) {
  .sm-big {
    font-size: 5rem;
  }
}

@media only screen and (max-width:993px) {
  .nav-item:hover {
    border-bottom: 0;
    margin-bottom: 3px;
  }
  .nav-link:hover {
    color: #00a2ff !important;
  }

  .header-title {
    top: calc(150px - 5rem);
  }

  .divider {
    margin: 5vh 0;
  }
}
